<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= f.label :case_no %><br>
    <%= f.text_field :case_no %>
  </div>
  <div class="field">
    <%= f.label :mv_no %><br>
    <%= f.text_field :mv_no %>
  </div>
  <div class="field">
    <%= f.label :engine_no %><br>
    <%= f.text_field :engine_no %>
  </div>
  <div class="field">
    <%= f.label :chasis_no %><br>
    <%= f.text_field :chasis_no %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :stolen_date %><br>
    <%= f.date_select :stolen_date %>
  </div>
  <div class="field">
    <%= f.label :stolen_place %><br>
    <%= f.text_field :stolen_place %>
  </div>
  <div class="field">
    <%= f.label :remarks %><br>
    <%= f.text_field :remarks %>
  </div>
  <div class="field">
    <%= f.label :cr_no %><br>
    <%= f.text_field :cr_no %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
