<%= form_for @detail, :html => {:multipart => true}  do |f| %>
  <% if @detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
      <% @detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <label>Avatar</label>
    <%= image_tag(@detail.avatar_url(:thumb)) if @detail.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
    <%#= f.label :avatar %><br>
    <%#= f.text_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :record_type %><br>
    <%= f.select :record_type, ["mcr", "hs*", "tadipar*", "parole farley jump*", "wanted",      "suspect", "most 500", "other"]%>
  </div>

  <div class="field">
    <%= f.label :police_station, "Police Station" %><br>
    <%= f.text_field :police_station %>
  </div>
  <div class="field">
    <%= f.label :crn, "Crime Recird Number" %><br>
    <%= f.text_field :crn %>
  </div>
  <div class="field">
    <%= f.label :sections %><br>
    <%= f.text_field :sections %>
  </div>
  <div class="field">
    <%= f.label :crime_details %><br>
    <%= f.text_field :crime_details %>
  </div>
  <div class="field">
    <%= f.label :last_arrest %><br>
    <%= f.text_field :last_arrest %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
