<p id="notice"><%= notice %></p>


<table width="60%">
  <tr>
    <td>
      <strong>Name:</strong>
      <%= @detail.name %>

    </td>
    <td>
      <strong>Record type:</strong>
      <%= @detail.record_type %>

    </td>
  </tr>


  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td>
      <strong>Avatar:</strong>
      <%= image_tag @detail.avatar_url(:medium_thumb) if @detail.avatar? %>
    </td>
    <td>
      <strong>Address:</strong>
      <%= @detail.address %>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td>
      <strong>Sections:</strong>
      <%= @detail.sections %>
    </td>
    <td>
      <strong>Crime details:</strong>
      <%= @detail.crime_details %>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>


  <tr>
    <td>
      <strong>Police station:</strong>
      <%= @detail.police_station %>
    </td>
    <td>
      <strong>Reference Number:</strong>
      <%= @detail.reference_no %>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>


  <tr>
    <td>
      <strong>Remarks:</strong>
      <%= @detail.remarks %>
    </td>
    <td>
      <strong>Remarks2:</strong>
      <%= @detail.remarks2 %>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>


  <tr>
    <td>
      <strong>History:</strong>
      <%= @detail.history %>
    </td>
    <td>
      <strong>Latest Activity:</strong>
      <%= @detail.latest_activity %>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>


  <tr>
    <td>
      <strong>Crime Record Number:</strong>
      <%= @detail.crn %>
    </td>
    <td>
      <strong>Last arrest:</strong>
      <%= @detail.last_arrest %>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>


</table>



<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
